@import "tailwindcss";

:root {
  /* Light Mode palette */
  --color-text-navbar: #ffffff;
  --color-text-primary: #2e2e2e;
  --color-text-secondary: #d48806;

  --color-hover-text-navbarAndFooter: #d48806;

  --color-bg-navbarAndFooter: #336fa3;
  --color-bg-body: #f7f6f4;
}

[data-theme="dark"] {
  /* Dark Mode palette */
  --color-text-navbar: #fdfdfd;
  --color-text-primary: #e6e6e6;
  --color-text-secondary: #ffb84d;

  --color-hover-text-navbarAndFooter: #ffb84d;

  --color-bg-navbarAndFooter: #1f3a56;
  --color-bg-body: #121212;
}

body {
  margin: 0;
  background: var(--color-bg-body);
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
